<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cluster">

    <application
        android:name="com.appcentricity.cluster.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.appcentricity.cluster.EditEventActivity"></activity>
        <activity android:name="com.appcentricity.cluster.InspectEventActivity" />
        <activity android:name="com.appcentricity.cluster.AddEventActivity" />
        <activity
            android:name="com.appcentricity.cluster.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="com.appcentricity.cluster.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/noAnimTheme" />
        <activity android:name="com.appcentricity.cluster.ProfileActivity" />
        <activity
            android:name="com.appcentricity.cluster.ResetPasswordActivity"
            android:theme="@style/NoBar" />
        <activity
            android:name="com.appcentricity.cluster.LoginActivity"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>